*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: yellow;
}


.clearfix::after{
  display: table;
  content:"";
  clear: both;
}

/* inizio main */


main{
  width: 100%;
  height: calc(100% - 100px);
}

.nav-left{
  width: 250px;
  height: 100%;
  background-color: black;
  float: left;
  display: flex;
  /* padding-left: 10px;
  padding-right: 10px; */
  flex-direction: column;


}

.nav-left ul{
  list-style: none;
}

.nav-left a {
  text-decoration: none;
}

.nav-left i {
  padding-right: 5px;
}

.nav-left ul li a:hover {
  color: white;
}

.nav-left .profile a span:hover{
  color: white;
}



/* logo */

.logo{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo img:last-child{
  width: 60%;
}

.logo img:first-child{
  display: none;
  height: 30px;
}

/* nav-menu */

.nav-menu ul li{
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-menu ul li a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: grey;
}
.nav-menu ul li:first-child {

  border-left: 3px solid green;
}

.nav-menu ul li:first-child a{
  color: white;
}



/* playlist */

.playlist-add{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.playlist-add p{
  padding-bottom: 10px;
  color: white;
}

.playlist-add i {
  font-size: 40px;
  vertical-align: middle;
}

.playlist-add a {
  color: grey;
  text-decoration: none;
}

.playlist-add a:hover {
  color: white;
}


/* nav-playlist */

.nav-playlist{
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  margin-bottom: 20px;
  overflow-y: scroll;
  /* max-height: 400px; */
  min-height: 100px;
}



.nav-playlist ul li {
  padding-bottom: 10px;
  color: white;
}



.nav-playlist ul li a {
  color: grey;
}


/* profile */

.profile{
  width: 100%;
  /* align-self: flex-end; */
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.profile hr{
  width: 100%;
}

.profile a {
  padding-bottom: 5px;
  text-decoration: none;
  color: grey;
}

.profile i {
  padding-bottom: 5px;
  padding-left: 5px;
}

.account img {
  height: 30px;
  vertical-align: middle;
  padding: 5px;
  background-color: grey;
  border-radius: 50%;

}

.account {
  padding-top: 5px;

}

.account a {
  text-decoration: none;
  font-size: 16px;
  color: white;

}





/* media query navleft */

@media screen and (max-width: 768px){
  .logo img:last-child{
    display: none;
  }
  .logo img:first-child{
    display: block;
    height: 30px;
  }

   .nav-menu{
     flex-grow: 1;
     text-align: center;
   }

   .nav-menu ul li:first-child {

     border-left: 0px solid green;
   }

   .nav-menu ul li {
     padding-top: 5px;
     padding-bottom: 5px;
   }



  span{
    display: none;
  }

  hr{
    display: none;
  }

  .playlist-add{
    display: none;
  }

  .nav-playlist{
    display: none;
  }


}


/* main right */
.main-right{
  width: calc(100% - 250px);
  height: 100%;
  background-color: rgb(42, 39, 39);
  float: left;
  overflow-y: auto;
}

.main-right h2 {
  color: white;
  font-weight: bolder;
  font-size: 35px;
  padding-bottom: 20px;
}

/* nav-main */

.nav-main {
  width: 100%;
  height: 90px;
  background-color: rgba(24, 24, 26, 0.72);
  display: flex;
  align-items: center;
  justify-content: flex-end;


}


.main-right .nav-main a{
  /* align-content: center; */
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  margin-right: 30px;
  z-index: 9;
  position: fixed;


}


.nav-main a:hover {
  font-size: 20px;
  padding: 15px 30px;
}

/* music */



.category {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}

.category ul{
  display: flex;
  justify-content: center;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;

}

.category ul a {
  color: grey;
  text-decoration: none;
}

.category ul a:hover{
  color: white;
}

.category ul li{
  padding-bottom: 10px;
}

.category ul li:first-child {
  position: relative;
}

.category ul li:first-child a {
  color: white;
}


.category ul li:first-child a::after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 40px;
  background-color: green;
  border-radius: 5px;
  position: absolute;
  top: calc(100% - 10px);
  left: 50%;
  transform: translateX(-50%);
 }

 /* scoltate recentemente */

 .ascoltate-recentemente {
   margin-left: 30px;
   margin-right: 10px;
   padding-top: 20px;

 }

  .album h4 {
   color: white;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;


 }

 .ascoltate-recentemente p {
   color: grey;
   text-align: center;
   padding-bottom: 5px;
 }

.albums {
  display: flex;
  flex-wrap: wrap;

}

.album{
  margin-right: 20px;
  margin-bottom: 15px;
  width: 210px;


}

.album img {
  height: 210px;

}


.player{
  position: relative;
}

.album i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  display: none;
}

.layover:hover i {
  display: block;
}

.layover{
  width: 100%;
  /* margin-left: 15px; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0);
}

.layover:hover{
  width: 100%;
  /* margin-left: 15px; */
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


/* per te */

.per-te{
  margin-left: 30px;
  margin-right: 10px;
}

 h5{
  color: grey;
  padding-bottom: 20px;
}


/* artisti popolari */


.artisti-popolari{
  margin-left: 30px;
  margin-right: 10px;
}

.artisti-popolari img{
  border-radius: 50%;
}

 .artisti-popolari .layover{
  border-radius: 50%;
}






/* media query main*/


@media screen and (max-width: 768px){
  .nav-left{
    width: 50px;
  }

  .main-right{
    width: calc(100% - 50px);
  }
}



/* footer */

footer{
  width: 100%;
  height: 100px;
  /* background-color: green; */
  background-color: rgb(45, 49, 51);
  /* position: fixed; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
  position: absolute;
}

.riproduzione{
  /* width: 250px; */
  padding-left:  10px;
  display: flex;
  align-items: center;

}

.brano {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.brano img{
  height: 60px;

}

.played{
  padding-left: 5px;
}

.played a {
  color: grey;
  text-decoration: none;
}

.played a:hover {
  color: white;
}


.Artist{
  color: white;
  font-size: 18px;
}

.song{
  color: grey;
}

.simbols a {
  text-decoration: none;
  color: grey;
}

.simbols a:hover{
  color: white;
}



/* player */

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.button a {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 20px;
}

.button a:nth-child(3) i {
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
}


.minutes {
  display: flex;
  align-items: center;
}

.started{
  padding-right: 20px;
  color: grey;
}

.lunghezza{
  height: 4px;
  width: 400px;
  background-color: grey;
  border-radius: 5px;
  position: relative;
}

.avanzamento{
  height: 4px;
  width: 160px;
  background-color: white;
  border-radius: 5px;
}

.lunghezza:hover .avanzamento {
  background-color: green;
}

.pallino{
  position: absolute;
  top: -10px;
  left: 150px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.lunghezza:hover .pallino{
  display: inline-block;
}

.end {
  color: grey;
  padding-left: 20px;
}


/* options */



.options{
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.options-buttons a{
  padding-right: 10px;
  color: white;
}

.options .lunghezza{
  height: 4px;
  width: 130px;
  background-color: grey;
  border-radius: 5px;
  position: relative;
}

.options .avanzamento{
  height: 4px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
}



.options .pallino{
  position: absolute;
  top: -3px;
  left: 45px;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: none;
}











/* media query */

@media screen and (max-width: 998px){
  .simbols a {
    display: block;
  }

  .brano {

    padding-right: 30px;
  }

  .lunghezza{
    width: 200px;
  }

  .avanzamento{
    width: 75px;
  }

  .pallino{
    left: 65px;
  }

  .options .lunghezza{
    width: 120px;
  }

  .options .avanzamento{
    width: 40px;
  }

  .options .pallino{
    left: 35px;
  }

  .minutes{
    margin-left: 10px;
    margin-right: 10px;
  }

}


@media screen and (max-width: 730px){
  .riproduzione {
    margin-top: 15px;
  }
  .player{
    margin-top: 15px;
  }
  .options{
    margin-top: 15px;
    margin-left: 10px;
  }
}
