*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: yellow;
}


.clearfix::after{
  display: table;
  content:"";
  clear: both;
}

/* inizio main */


main{
  width: 100%;
  height: calc(100% - 100px);
}

.nav-left{
  width: 250px;
  height: 100%;
  background-color: red;
  float: left;
  display: flex;
  /* padding-left: 10px;
  padding-right: 10px; */
  flex-direction: column;
}

.nav-left ul{
  list-style: none;
}

.nav-left a {
  text-decoration: none;
}

.nav-left i {
  padding-right: 5px;
}

/* logo */

.logo{
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* nav-menu */

.nav-menu ul li{
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-menu ul li a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: grey;
}
.nav-menu ul li:first-child {

  border-left: 3px solid green;
}

.nav-menu ul li:first-child a{
  color: white;
}

/* nav-playlist */

.nav-playlist{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 300px;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 20px;
}

.nav-playlist ul li {
  padding-bottom: 10px;
  color: white;
}

.nav-playlist i {
  font-size: 40px;
  vertical-align: middle;
}

.nav-playlist ul li a {
  color: grey;
}


/* profile */

.profile{
  width: 100%;
  /* align-self: flex-end; */
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.profile hr{
  width: 100%;
}

.profile a {
  padding-bottom: 5px;
  text-decoration: none;
  color: grey;
}

.profile i {
  padding-bottom: 5px;
}

.account img {
  height: 30px;
  vertical-align: middle;
  padding: 3px;
  background-color: grey;
  border-radius: 50%;

}

.account {
  padding-top: 5px;

}

.account a {
  text-decoration: none;
  padding-left: 5px;
  font-size: 16px;
  color: white;

}


.main-right{
  width: calc(100% - 250px);
  height: 100%;
  background-color: blue;
  float: left;
}

/* media query navleft */

@media screen and (max-width: 768px){

}

/* media query main*/


@media screen and (max-width: 768px){
  .nav-left{
    width: 50px;
  }

  .main-right{
    width: calc(100% - 50px);
  }
}



/* footer */

footer{
  width: 100%;
  height: 100px;
  background-color: grey;
  position: fixed;
}
